Source: pulseaudio-modules-droid-hidl
Section: sound
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
XSBC-Original-Maintainer: Danct12 <danct12@disroot.org>
Build-Depends: debhelper (>= 7),
               dh-autoreconf,
               libdbus-1-dev,
               android-headers-28,
               pulseaudio-pulsecore-dev,
               libpulse-dev,
               libltdl-dev,
               audiosystem-passthrough-dev
Standards-Version: 3.8.4

Package: pulseaudio-modules-droid-hidl
Architecture: any
Depends: pulseaudio,
         pulseaudio-modules-droid-jb2q | pulseaudio-modules-droid-modern,
         ${shlibs:Depends}, ${misc:Depends}
Description: HIDL module for PulseAudio
